body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #354052; }

html {
  font-size: 10px; }

* {
  box-sizing: border-box; }

table {
  border-collapse: collapse; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

h4, h5, h6 {
  margin-bottom: 10px;
  margin-top: 10px; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px;
  display: inline-block;
  margin-top: 12px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

ul {
  list-style: none;
  padding: 1px; }

.fa-circle {
  font-size: 5px;
  position: relative; }
  .fa-circle:before {
    position: absolute;
    top: -7px; }

.main_section > div .js_col_2 {
  transition: all 0.9s ease; }
  .main_section > div .js_col_2 > div #left {
    padding-top: 1px;
    position: relative; }
    .main_section > div .js_col_2 > div #left > div {
      border-bottom: 3px solid #2b3544;
      padding: 18px 0 10px 0px; }
      .main_section > div .js_col_2 > div #left > div h6 {
        font-size: 13px;
        color: #a0abbe;
        margin-left: 25px; }
      .main_section > div .js_col_2 > div #left > div ul li {
        padding-left: 25px;
        line-height: 40px;
        background-color: #354052;
        cursor: pointer;
        color: #a0abbe;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px; }
        .main_section > div .js_col_2 > div #left > div ul li:hover {
          border-left: 3px solid #15a4fa;
          background-color: #2f3949;
          color: white; }
          .main_section > div .js_col_2 > div #left > div ul li:hover a {
            color: white; }
        .main_section > div .js_col_2 > div #left > div ul li a {
          color: #a0abbe;
          text-decoration: none;
          font-size: 14px; }
          .main_section > div .js_col_2 > div #left > div ul li a i {
            margin-right: 17px;
            font-size: 18px;
            width: 14px; }
        .main_section > div .js_col_2 > div #left > div ul li input {
          width: 19px;
          height: 15px;
          margin-right: 9px; }
          .main_section > div .js_col_2 > div #left > div ul li input:nth-child(1) {
            background-color: red; }
    .main_section > div .js_col_2 > div #left .headerLeft {
      text-align: center; }
      .main_section > div .js_col_2 > div #left .headerLeft div {
        margin: 0 auto; }
        .main_section > div .js_col_2 > div #left .headerLeft div:first-child {
          width: 80px;
          height: 80px;
          border-radius: 100%;
          overflow: hidden;
          margin-top: 18px; }
          .main_section > div .js_col_2 > div #left .headerLeft div:first-child img {
            width: 100%; }
        .main_section > div .js_col_2 > div #left .headerLeft div:last-child {
          margin-top: 18px; }
          .main_section > div .js_col_2 > div #left .headerLeft div:last-child h4 {
            cursor: pointer;
            color: white;
            font-size: 16px; }
.main_section > div .js_col_10 {
  background-color: white;
  transition: all 0.8s ease;
  float: right; }
  .main_section > div .js_col_10 > div #right .navbar {
    width: 100%;
    float: right;
    margin-top: -15px; }
    .main_section > div .js_col_10 > div #right .navbar ul {
      width: 100%;
      border-bottom: 1px solid #e5e7ea;
      text-align: center; }
      .main_section > div .js_col_10 > div #right .navbar ul li {
        display: inline-block;
        width: 85px;
        height: 80px;
        border-left: 1px solid #e5e7ea;
        text-align: center;
        cursor: pointer;
        padding-top: 23px;
        transition-duration: 0.5s; }
        .main_section > div .js_col_10 > div #right .navbar ul li .fa-caret-left {
          color: #15a4fa;
          font-size: 20px;
          margin-right: 3px; }
        .main_section > div .js_col_10 > div #right .navbar ul li .fa-search {
          font-size: 20px;
          margin-left: 20px;
          margin-right: 10px; }
        .main_section > div .js_col_10 > div #right .navbar ul li:nth-child(3) {
          width: calc(100% - 355px);
          text-align: left;
          cursor: inherit; }
          .main_section > div .js_col_10 > div #right .navbar ul li:nth-child(3) input {
            min-width: 50%;
            border: none;
            font-size: 16px;
            padding: 6px; }
            .main_section > div .js_col_10 > div #right .navbar ul li:nth-child(3) input:focus {
              border-bottom: 1px solid #e5e7ea;
              outline: none; }
          .main_section > div .js_col_10 > div #right .navbar ul li:nth-child(3):hover {
            background-color: white; }
            .main_section > div .js_col_10 > div #right .navbar ul li:nth-child(3):hover a {
              color: #9ba3af; }
        .main_section > div .js_col_10 > div #right .navbar ul li i {
          font-size: 24px;
          color: #9ba3af; }
      .main_section > div .js_col_10 > div #right .navbar ul #media_li {
        display: none;
        position: absolute;
        top: 16px;
        left: 0px;
        z-index: 999;
        width: 50px;
        height: 50px;
        padding: 12px 10px 0 7px;
        border-radius: 50%;
        background-color: white;
        border: 0; }
      .main_section > div .js_col_10 > div #right .navbar ul .navbarListElment:hover {
        background-color: #15a4fa; }
        .main_section > div .js_col_10 > div #right .navbar ul .navbarListElment:hover a {
          color: white; }
  .main_section > div .js_col_10 > div #right .headerRight {
    padding-top: 15px;
    clear: both; }
    .main_section > div .js_col_10 > div #right .headerRight > div {
      margin: 0 auto;
      width: 92%; }
      .main_section > div .js_col_10 > div #right .headerRight > div .col8 > div {
        color: #8a95a5; }
        .main_section > div .js_col_10 > div #right .headerRight > div .col8 > div h2 {
          font-weight: 400;
          margin-top: 14px;
          color: #596679; }
        .main_section > div .js_col_10 > div #right .headerRight > div .col8 > div i {
          margin-right: 10px; }
        .main_section > div .js_col_10 > div #right .headerRight > div .col8 > div p {
          display: inline-block; }
        .main_section > div .js_col_10 > div #right .headerRight > div .col8 > div a {
          color: #34b0fa; }
      .main_section > div .js_col_10 > div #right .headerRight > div .col4 {
        float: right;
        margin-top: 30px; }
        .main_section > div .js_col_10 > div #right .headerRight > div .col4 > div {
          text-align: right; }
          .main_section > div .js_col_10 > div #right .headerRight > div .col4 > div > div {
            color: #6f7a8b;
            width: 37px;
            height: 37px;
            border: 2px solid #d2dae2;
            border-radius: 100%;
            display: inline-block;
            text-align: center;
            margin-right: 8px;
            padding-top: 7px;
            cursor: pointer; }
            .main_section > div .js_col_10 > div #right .headerRight > div .col4 > div > div:first-child {
              border-radius: 2em;
              width: 90px; }
              .main_section > div .js_col_10 > div #right .headerRight > div .col4 > div > div:first-child .fa-circle {
                font-family: "Roboto",sans-serif;
                font-size: 14px;
                margin-left: 7px;
                font-weight: 600;
                text-transform: uppercase; }
                .main_section > div .js_col_10 > div #right .headerRight > div .col4 > div > div:first-child .fa-circle:before {
                  font-family: FontAwesome;
                  font-size: 14px;
                  color: #8cc63d;
                  top: 0px;
                  left: -15px; }
      .main_section > div .js_col_10 > div #right .headerRight > div .col12 > div > div {
        margin-top: 18px; }
        .main_section > div .js_col_10 > div #right .headerRight > div .col12 > div > div ul {
          margin-bottom: 0; }
          .main_section > div .js_col_10 > div #right .headerRight > div .col12 > div > div ul li {
            display: inline-block;
            color: #8a95a5;
            text-transform: uppercase;
            border-bottom: 3px solid transparent;
            cursor: pointer;
            margin-right: 40px;
            font-weight: bold;
            padding: 10px 0 15px 0; }
            .main_section > div .js_col_10 > div #right .headerRight > div .col12 > div > div ul li:first-child {
              border-bottom-color: #15a4fa;
              color: black; }
  .main_section > div .js_col_10 > div #right .main {
    background-color: #ecf2f6;
    float: right; }
    .main_section > div .js_col_10 > div #right .main > div {
      margin: 0 auto;
      width: 92%; }
    .main_section > div .js_col_10 > div #right .main .charts {
      min-height: 300px;
      margin-top: 50px; }
      .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left {
        min-height: 170px;
        margin-left: -3em; }
        .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left canvas {
          display: inline-block;
          width: 27em; }
      .main_section > div .js_col_10 > div #right .main .charts .col5 {
        float: right; }
        .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right {
          width: 100%;
          min-height: 200px; }
          .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent1 {
            min-height: 180px;
            position: relative;
            display: inline-block;
            width: 20px; }
            .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent1 .text {
              width: 30px;
              height: 200px;
              position: absolute;
              top: 0;
              left: 3px;
              text-align: right; }
              .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent1 .text p {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 13px;
                color: #8a95a5; }
          .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent {
            min-height: 180px;
            position: relative;
            display: inline-block; }
            .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent .spinner {
              width: 15px;
              height: 180px;
              background: #d9e4eb;
              border-radius: 1px;
              position: absolute;
              top: 1px;
              left: 3px; }
            .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent .spinnerDiynamic {
              width: 15px;
              height: 5px;
              background: #47bac1;
              border-radius: 1px;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              position: absolute;
              bottom: 0px;
              left: 3px; }
              .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent .spinnerDiynamic:hover .spinnerDiynamicTooltip {
                visibility: visible;
                opacity: 1; }
              .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent .spinnerDiynamic .spinnerDiynamicTooltip {
                visibility: hidden;
                width: 150px;
                background-color: #555;
                opacity: 0;
                color: #fff;
                left: -75%;
                text-align: center;
                padding: 10px 2px;
                margin-left: -60px;
                border-radius: 6px;
                position: absolute;
                z-index: 99;
                bottom: 120%;
                transition: opacity 0.8s;
                font-size: 11px; }
                .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent .spinnerDiynamic .spinnerDiynamicTooltip:after {
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 8px;
                  border-style: solid;
                  border-color: #555 transparent transparent transparent; }
              .main_section > div .js_col_10 > div #right .main .charts .col5 > div #chartdiv-right .parent .spinnerDiynamic .spinnerDiynamicLetter {
                font-weight: bold;
                color: #596679;
                position: absolute;
                left: 3px;
                bottom: -25px; }
        .main_section > div .js_col_10 > div #right .main .charts .col5 .charts_footer {
          margin-top: 25px !important; }
          .main_section > div .js_col_10 > div #right .main .charts .col5 .charts_footer span {
            text-transform: uppercase; }
      .main_section > div .js_col_10 > div #right .main .charts .charts_footer {
        text-align: center;
        margin-top: 30px; }
        .main_section > div .js_col_10 > div #right .main .charts .charts_footer > div > span {
          color: #8a95a5;
          font-weight: 600;
          background-color: #fafafc;
          border: 1px solid #d9e4eb;
          border-radius: 2em;
          padding: 7px 13px;
          position: relative; }
          .main_section > div .js_col_10 > div #right .main .charts .charts_footer > div > span span {
            display: inline-block;
            width: 40px; }
          .main_section > div .js_col_10 > div #right .main .charts .charts_footer > div > span i {
            width: 15px; }
    .main_section > div .js_col_10 > div #right .main #js_chards {
      border-bottom: 2px solid #9ba3af;
      position: relative; }
      .main_section > div .js_col_10 > div #right .main #js_chards #fa-angle-down {
        color: #9ba3af;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        padding: 4px 8px;
        background-color: #fafafc;
        border: 1px solid #9ba3af;
        border-radius: 50%;
        position: absolute;
        top: -13px;
        left: 48%; }
        .main_section > div .js_col_10 > div #right .main #js_chards #fa-angle-down:before {
          z-index: 555; }
    .main_section > div .js_col_10 > div #right .main .listinput {
      padding-top: 70px;
      clear: both; }
      .main_section > div .js_col_10 > div #right .main .listinput .col8 > div {
        background-color: white; }
        .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          overflow: hidden;
          color: #596679; }
          .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr:first-child {
            background-color: #6f7d95;
            text-transform: uppercase;
            color: white; }
            .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr:first-child th {
              padding: 29px 0 20px 29px;
              box-sizing: border-box; }
              .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr:first-child th:last-child {
                padding-top: 20px; }
              .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr:first-child th:last-child {
                text-align: left; }
              .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr:first-child th a {
                padding: 10px 18px;
                background-color: #7c8ba6;
                color: white;
                border-radius: 3px;
                font-weight: 600;
                font-family: 'Roboto',sans-serif; }
                .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr:first-child th a:before {
                  content: "\f040";
                  font-family: FontAwesome;
                  font-weight: 100; }
                .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr:first-child th a:hover:before {
                  color: #d9e4eb;
                  transform: rotateX(150deg); }
          .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr td {
            padding: 27px 0 27px 27px;
            line-height: 22px; }
            .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr td:nth-child(1) {
              width: 24%;
              text-transform: uppercase;
              font-weight: bold; }
            .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr td .imageUser {
              width: 40px;
              height: 40px;
              border-radius: 100%;
              overflow: hidden;
              display: inline-block;
              float: left; }
              .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr td .imageUser img {
                width: 100%; }
            .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr td p {
              display: inline-block;
              line-height: 20px;
              margin-top: 10px; }
      .main_section > div .js_col_10 > div #right .main .listinput .col4 {
        float: right; }
        .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div {
          color: #596679;
          float: right;
          width: 83%; }
          .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div a {
            display: block;
            padding: 17px 0 13px 75px;
            background-color: red;
            border-radius: 4px;
            margin-bottom: 20px;
            position: relative;
            color: white; }
            .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div a:before {
              font-family: FontAwesome;
              position: absolute;
              left: 17px;
              top: 13px;
              font-size: 20px; }
          .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div .fb {
            background-color: #496ec1; }
            .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div .fb:before {
              content: "\f09a"; }
          .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div .tw {
            background-color: #00a9ef; }
            .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div .tw:before {
              content: "\f099"; }
          .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div .in {
            background-color: #0381bd; }
            .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div .in:before {
              content: "\f08c"; }
          .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div {
            margin-bottom: 20px;
            padding-bottom: 33px;
            border-bottom: 2px solid #d2dae2;
            max-height: 197px; }
            .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div:last-child {
              border: none;
              padding-bottom: 0; }
            .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div i {
              font-size: 18px;
              margin-right: 10px; }
            .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div h3 {
              font-size: 18px;
              font-weight: 600; }
            .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div p {
              letter-spacing: 0.0025em;
              font-size: 13px;
              font-weight: 600;
              color: #8892a0; }
            .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div > div {
              margin-top: 30px;
              width: 100% !important; }
              .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div > div span {
                background-color: #47bac1;
                padding: 11px 10px;
                border: none;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
                color: white;
                cursor: pointer; }
              .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div > div input {
                height: 40px;
                width: 80%;
                border: none;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Roboto',sans-serif;
                padding-left: 10px;
                margin-right: -3px; }
                .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div > div input:focus {
                  box-shadow: none;
                  outline: none; }
              .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div > div:last-child {
                display: block; }

@media (min-width: 992px) {
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    display: inline-block; }

  .col12 {
    width: calc( 100% - 3px ); }

  .col11 {
    width: calc(91.66666667% - 6px); }

  .col10 {
    width: calc(83.33333333% - 6px); }

  .col9 {
    width: calc(75% - 6px); }

  .col8 {
    width: calc(66.66666667% - 6px); }

  .col7 {
    width: calc(58.33333333% - 6px); }

  .col6 {
    width: calc(50% - 6px); }

  .col5 {
    width: calc(41.66666667% - 6px); }

  .col4 {
    width: calc(33.33333333% - 6px); }

  .col3 {
    width: calc(25% - 6px); }

  .col2 {
    width: calc(16.66666667% - 6px); }

  .col1 {
    width: calc(8.33333333% - 6px); } }
@media screen and (max-width: 1273px) {
  .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div > div > div input {
    width: 70%; }

  .main_section > div .js_col_10 > div #right .main .listinput .col8 > div table tr td:nth-child(1) {
    width: 30%; } }
@media screen and (max-width: 1232px) {
  .main_section > div .js_col_10 > div #right .main .charts .col5 {
    float: inherit;
    width: 70%;
    text-align: left; }
    .main_section > div .js_col_10 > div #right .main .charts .col5 > div:first-child {
      margin-left: 20%; }

  .main_section > div .js_col_10 > div #right .main .charts {
    text-align: center; }

  .main_section > div .js_col_10 > div #right .main .charts .charts_footer {
    margin-bottom: 30px; } }
@media screen and (max-width: 1143px) {
  .main_section > div .js_col_10 > div #right .headerRight > div .col12 > div > div ul li {
    margin-right: 3%; }

  .main_section > div .js_col_10 > div #right .main .charts .col5 > div:first-child {
    margin-left: 13%; } }
@media screen and (max-width: 1090px) {
  .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left canvas {
    width: 22em; } }
@media screen and (max-width: 1000px) {
  .main_section > div .js_col_10 > div #right .headerRight > div > div {
    width: 100%;
    text-align: center; }

  .main_section > div .js_col_10 > div #right .headerRight > div .col4 > div {
    text-align: center; } }
@media screen and (max-width: 992px) {
  .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left {
    margin-left: 4em; }
    .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left .col4 {
      width: calc(33.33333333% - 9px) !important;
      display: inline-block; }
    .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left canvas {
      width: 18em; }

  #js_li {
    display: none !important; }

  #media_li {
    display: block !important;
    top: 13px !important; }

  .main_section > div .js_col_2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #354052;
    z-index: 99; }

  .main_section > div .js_col_2 {
    width: 240px; }

  .main_section > div .js_col_10 > div #right .main .charts .col5 {
    width: 100%; }
    .main_section > div .js_col_10 > div #right .main .charts .col5 > div:first-child {
      margin-left: 23%; }

  .main_section > div .js_col_10 > div #right .main .listinput .col4 {
    float: inherit; }
    .main_section > div .js_col_10 > div #right .main .listinput .col4 > div > div {
      width: 240px;
      margin: 0 auto;
      float: inherit; } }
@media screen and (max-width: 808px) {
  .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left {
    margin-left: 22%; }
    .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left .col4 {
      width: 100% !important; }
      .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left .col4 canvas {
        width: 22em; }

  .main_section > div .js_col_10 > div #right .headerRight > div .col12 > div > div ul li {
    margin-right: 1%; } }
@media screen and (max-width: 688px) {
  .main_section > div .js_col_10 > div #right .headerRight > div .col12 > div > div ul {
    padding-top: 15px;
    clear: both;
    text-align: center; }
    .main_section > div .js_col_10 > div #right .headerRight > div .col12 > div > div ul li {
      margin: 0 auto;
      display: block;
      width: 7em; }

  .main_section > div .js_col_10 > div #right .main .charts .col5 > div:first-child {
    margin-left: 15%; }

  .main_section > div .js_col_10 > div #right .navbar ul li:nth-child(3) {
    width: 100%; }

  .main_section > div .js_col_10 > div #right .navbar ul .navbarListElment {
    width: 70px;
    height: 70px; } }
@media screen and (max-width: 523px) {
  .main_section > div .js_col_10 > div #right .main .charts .col5 > div:first-child {
    margin-left: 1%; } }
@media screen and (max-width: 455px) {
  .main_section > div .js_col_10 > div #right .main .charts .col5 {
    display: none; } }
@media screen and (max-width: 423px) {
  .main_section > div .js_col_10 > div #right .main .charts .col7 .charts_left .col4 canvas {
    width: 12em; } }

/*# sourceMappingURL=style.css.map */
